.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5vh;
  margin: 0;
}

.avatar{
  width: 7vw;
  height: 7vw;
}
.title{
  font-size: 1.5vw;
  font-weight: bold;
  margin-left: 1vw;
}
.date{
  font-size: 1vw;
  margin-left: 1vw;
}

