.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vw;
    padding-top: 5vw;
    /* border: 3px solid red; */
    /* width: 80%; */
    margin-left: 10vw;
    height: 45vw;;
  }

  .subContainer {
    margin-left: 3vw;
    width: 55vw;
    margin-right: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .campaignImage {
    width: 40vw;
    height: 25vw;
  }

  .foundationImage {
    width: 5vw;
    height: 5vw;
    border-radius: 7vw;
    border: 2px solid rgb(18, 18, 119);
  }

  .titleSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
  }

  .titleSection h1 {
   text-align: center;
   color:rgb(255, 226, 8);
   font-weight: bold;
  }
  
 .container span {
    color: white;
    font-weight: bold;
    font-size: 1vw;
 }

 .container p {
    color: white;
    font-weight: bold;
    font-size: 1.4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
 }

 .container button {
    background-color: white;
    color: rgb(99, 59, 218);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.3vw;
    font-weight: bold;
    cursor: pointer;
 }

 .container button:hover {
    background-color: rgb(255, 226, 8);
 }