.containerNews {
  /* background-color: rgba(255, 0, 0, 0.568); */

  padding: 1vw;
  padding-left: 1.5vw;
  padding-bottom: 4vw;
  /* box-shadow: 2 5px 10px #000; */

}

.caru25{
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 5vw;
  
}

.container {
  /* background-color: #fff; */
  border-radius: 1rem;

  display: flex;
  flex-direction: row;

  /* padding: vh; */
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3rem;

  width: 25vw;
  /* height: 32vw; */

  position: relative;
  transition: all ease-in-out .5s;

  box-shadow: 2px 5px 10px #000;

  stroke: #513d8f;
  stroke-width: 0.3vw;
  filter: drop-shadow(4px 8px 20px 20px #5e4c96d2);


  transform: translateY(0px);

}

.container:hover {
  transform: scale(1.07) translateY(-20px);
}

.imgContainer {
  /* background-color: greenyellow; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  padding: .5rem;

}

.avatar {
  /* background-color: #190063; */

  width: 4.5vw;
  /* height: 3.5vw; */

  border-radius: 50%;

}

.dateContainer {
  /* background-color: #fff; */
  text-align: center;

  /* margin-left: 1vw; */

  font-size: 1vw;
  color: white
}

.dateContainer>span {
  font-size: .8vw;
}


.titleContainer {
  /* background-color: black; */

  display: flex;
  /* justify-content: center; */
  align-items: center;
  align-content: flex-start;

  margin-left: 1vw;
  height: 5.5vw;

  font-size: 1.5vw;
  font-weight: bold;
}


.image {
  width: 25vw;
  height: 15vw;
  /* border-radius: 50%; */
}

.description {
  font-size: 1vw;
  color: white;
  font-weight: 300;
  margin-bottom: 1vw;
}