.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding: vh; */
  margin-left: 3vw;
}

.containerNews {
  padding-top: 1vw;
}

.avatar{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
.title{
  font-size: 1.5vw;
  font-weight: bold;
  margin-left: 1vw;
}
.date{
  font-size: 1vw;
  margin-left: 1vw;
  color: white
}

.image {
  width: 25vw;
  height: 15vw;
  /* border-radius: 50%; */
}

