/*  - - - - - - - - - - - - - - - - - - - ROOT VARIABLES - - - - - - - - - - - - - - - - -*/
:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(70deg, rgb(233, 201, 214) 0%, rgb(99, 59, 218) 97%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  /* --activeItem: #f799a354; */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--purple);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(238 128 172) !important; */
  color: azure;
  color: rgb(255, 230, 0);
  overflow-x: hidden;
  /* background: rgb(238,128,172) !important;
  background: linear-gradient(54deg, rgba(238,128,172,1) 0%, rgba(163,136,241,1) 97%) !important */
  /* background: linear-gradient(70deg, rgb(233, 201, 214) 0%, rgb(99, 59, 218) 97%); */
  background-color: rgb(99, 59, 218) !important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold
}

p {
  font-family: 'Nunito', sans-serif;
  font-weight: bold
}