.banner img{
    width: 100%;
}
.containerFunction{
    display: flex;
    width: 100%;
    justify-content: center;
}
.containerFunction div{
    text-align: center;
    width: 30%;
}
.allAnimals{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.allAnimals__filters{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
}
.filtersBy{
    display: flex;
    align-items: center;
}


/* Cards */
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    text-align: center;
    width: 270px;
    height: 300px;
    margin: 20px;
}
.img{
    width: 100%;
    border-radius: 10px;
    height: 224px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
    cursor: pointer;
}
img:hover:hover{
    box-shadow: none;
}