.container {
    background: linear-gradient(180deg, rgba(99,59,218,1) 38%, rgba(146,116,233,1) 50%, rgba(204,194,236,1) 57%, rgba(251,251,251,1) 81%, rgba(99,59,218,1) 92%);
}

.dogBanner{
    width: 43vw;
    height: 38vw;
    margin-left: 53vw;
    margin-top: -22vw;

}


.banner {
    margin-top: 6vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding-top: 6vw;
    height: 43vw;
}

.sectionTitle{
    /* position: absolute; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 230, 0);
    letter-spacing: -0.2vw;
    font-size: 6vw;
    /* margin-top: 120px; */
    margin-left: 2vw;
    margin-top: 6vw;
    font-weight: bolder;
}

.banner p {
    /* position: absolute; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 4vw;
    margin-left: 2vw;
    font-weight: bolder;
}

.containerFunctionality{
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
    margin-bottom: 7vw;
    width: 100%;
    justify-content: center;
}

.containerSteps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20%;
}
.containerSteps div .functionalitySteps:nth-child(2){
    margin-left: 30%;
}
#steps{
    width: 25vw;
    height: 30vw;
    margin-top: -5vw;
    margin-right: 3vw;
}

.innerTittles{
    color: rgb(255, 230, 0);
    font-weight: bold;
    padding-top: 6vw;
    text-align: center;
    padding-bottom: 6vw;
    font-size: 3.5vw;
}
.functionalitySteps{
    max-width: 40vw;
    padding: 10px;
    color: white;
}
.functionalitySteps p{
    width: 32vw;
    font-size: 1.4vw;;
    margin-bottom: 5vw;
}
.functionalitySteps span{
    font-weight: bold;
    padding: 15px;
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 230, 0);
}

.allAnimals{
    margin-top: 50px;
    text-align: center;
    /* position: -webkit-sticky; */
    /* position: sticky; */
    /* backdrop-filter: blur(5px); */
    /* top: 10px; */
    justify-content: center;
    align-items: center;


    padding-bottom: 2vw;
    padding-top: 3vw;
    /* background-color: white; */
}


/* Cards */
.containerAnimals{
    display: grid;
    grid-template-columns: 95% auto;
    /* background-color: white; */
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    justify-content: center;
    padding: 10px 3% 3% 10px;
    /* width: 100vw; */
    gap: 1.5vw;
    width: 100%;
    margin-left: 3vw;
}
.cardDiv{
    width: 290px;
}
.card{
    text-align: center;
    width: 270px;
    height: 280px;
    border-radius: 20px ;
    display: flex;   
    flex-direction: column;
    margin: 0px 7px 88px 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* background-color: rgba(154, 121, 255, 0.488); */
    background-color: rgba(78, 80, 214, 0.496);
    transition: 0.5s;
    

}
.card:hover{
    width: 290px;
    height: 300px;
    margin: 0px 0px 50px 0px;
}
.link{
    text-decoration: none;
}
.header{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}

.header i {
    font-size: 1.2rem;
    color: white;
    margin-right: 14px;
    cursor: pointer;
}
.header i:hover {
    font-size: 1.3rem;
    color: rgb(255, 145, 145);
}
.coral{
    color: rgb(255, 145, 145)!important;
}
.header span{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    margin-left: 25px;
    font-size: 1.4rem;
    transition: 0.4s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.header p{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    margin-left: 25px;
    font-size: 1.4rem;
    transition: 0.4s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    padding: 0px;
    margin-bottom: 8px;
    text-align: center;
}
.card:hover span{
    font-weight: 900;
    color: rgb(255, 230, 0);
}
.card:hover p{
    font-weight: 900;
    color: rgb(255, 230, 0);
}
.header span:hover{
    color: rgba(249, 224, 0, 0.884);
}
.containerImg{
    min-height: 100%;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
    cursor: pointer;
}

/*  --------   Filtros ---------  */
.allAnimals__filters{
    padding: 10px;
    margin-right:calc(10vw/2) ;
    margin-left:calc(10vw/2) ;
    width: 90vw;
    margin-bottom: 30px;
    background-color: rgba(78, 80, 214, 0.496);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.filtersBy{ 
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.filtersBy select{
    cursor: pointer;
}
.filtersBy select:hover{
    color: rgb(255, 230, 0);
}

.filtersBy span{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:8px;
}


/* Filter by type */
.btnFilterType{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}
.btnFilterType:hover{
    color:rgb(255, 230, 0);
}


/* Filter by foundation */
.filterConfig{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    margin-right: 10px;
}
.filterConfig:focus{
    outline: none;
}
/* Filter Searchbar*/ 
 .searchContainer{
    display: inline;
    min-width: 300px;
} 
.searchContainer i{
    color: rgb(99, 59, 218);
    font-size: 18px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
}
.searchInput{
    background-color: transparent;
    border: none;
    width: 85%;
    height: 29px;
    border: 1px solid white;
    border-radius: 20px 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 10px;
    transition: 0.5s;
    color: rgb(255, 230, 0);
}
.searchInput:hover{
    background-color:rgb(99, 59, 218);
}
.searchInput:focus{
    outline: none;
}
.searchInput::placeholder{
    color: rgba(255, 245, 245, 0.54);
}

/* ----PAGES----- */
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
    text-align: center;
    margin-bottom: 7vw;
}
ul .pages{
    color: white;
    padding: 10px;
    padding: 5px 11px 5px 11px;
    border-radius: 100%;
    /* height: 30px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* border: 1.4px solid rgba(154, 121, 255, 0.488); */
    background-color: rgb(99, 59, 218);
    transition: 0.3s;
}
.pages:hover{
    background-color: rgba(154, 121, 255, 0.488);
}
.arrow{
    /* background-color: red; */
    border: none;
    font-size: 30px;
    /* color: rgba(155, 121, 255, 0.992); */
    color: rgb(99, 59, 218, 0.992);
}
.activePage{
    background-color: rgba(154, 121, 255, 0.488);
}
/* ----- ASIDE  -----*/
.containerAside{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.itemAside{
    font-size: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* background-color: rgba(154, 121, 255, 0.488); */
    background-color: rgba(78, 80, 214, 0.496);
    color: rgb(255, 145, 145);
    box-shadow: rgba(0, 0, 0, 0.236) 0px 5px 15px;
    width: 3.5rem;
    height: 2.8rem;
    text-align: center;
    border-radius: 18px 0 0 18px;
    transition: 0.6s;
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    backdrop-filter: blur(5px);
    right: 0;
    top: 120px;
    margin-bottom: 20px;
}
.itemAside:hover  {
    font-size: 1.8rem;
}
.active{
    color: rgb(255, 230, 0);
    font-weight: bolder;
}


/* ----- STEPS  -----*/

.userInfo img {
    width: 25vw;
    height: 40vw;;
}

.subInfoA {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 100%;
    margin-bottom: 3vw;
}

.subInfoA img {
    margin-left: 10vw;;
}

.subInfoC {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 100%;
    margin-bottom: 10vw;
    margin-top: 4vw;
    margin-left: 2vw;;
}


.subInfoA div{
    margin-left: 7vw;
    width: 41vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.subInfoB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 50vw; */
}

.subInfoB div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 12vw !important;
}

.subInfoC img {
    margin-left: 10vw;;
}

.gift {
    width: 20vw !important;
    height: 20vw !important;
    margin-bottom: 1vw;
    margin-left: 10vw !important;
}

.userInfo h1 {
    font-size: 4vw !important;
    letter-spacing: -0.2vw;
    font-weight: bolder;
    font-weight: 1200;
    margin-bottom: 2vw;
    color: rgb(255, 230, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.userInfo p {  
    font-size: 1.7vw !important;
    margin-bottom: 2vw;
    color: white;
    /* text-align: center; */
    flex-wrap: wrap;
    font-weight: 500;
    /* background-color: green; */
}

.subInfoB p {  
        margin-right: 8vw !important;
}

.userInfo {
    margin-top: 10vw;
}