.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px; 
    margin: 40px 20px 10px 10px;   
    width: 300px;
    height: 480px;
    background-image: url(../../assets/images/background-paws.jpg);
    /* background-color: aliceblue; */
    background-size: cover;
    box-shadow: 8px 5px 10px 1px #000;
    border-radius: 8px;
}

.container:hover{
    box-shadow: 8px 5px 10px 1px yellow;
    cursor: pointer;
}

.imagecard{
    height: 200px;
    width: 300px;
    border-radius: 8px;
}

.imagecard img{
    object-fit: auto;
    width: 300px;
    height: 230px;
    border-radius: 8px;
}

.imgproduct:hover{
    cursor: pointer;
    opacity: 0.6;
}


.paws{
    width: 50px;
    height: 50px;
}

.productname{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.productname h4{
    margin-top: 15px;
    font-weight: 900;
    color: black;
}

.detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail h4{
    font-weight:900;
    font-size: 40px;
    color: blueviolet;
}

.contador{
    display: flex;
    justify-content: center;
}

.contador h4{
    font-weight: 800;
    margin: 10px;
}

.canje{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.canje button{
    margin-bottom: 15px;
}