.searchContainer{
    display: flex;
    min-width: 140px;
} 
.searchContainer i{
    color: rgb(99, 59, 218);
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
}
.searchInput{
    background-color: transparent;
    border: none;
    width: 85%;
    height: 29px;
    border: 1px solid white;
    border-radius: 20px 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 10px;
    transition: 0.5s;
    color: rgb(255, 230, 0);
}
.searchInput:hover{
    background-color:rgb(99, 59, 218);
}
.searchInput:focus{
    outline: none;
}
.searchInput::placeholder{
    color: rgba(255, 245, 245, 0.54);
    font-size: small;
}


