.main{
    display: flex;
    margin-top: 20px;
}

.main input{
    background-color: yellow !important;
    opacity: 0.8;
}

.main button{
    border: none;
    border-radius: 8px;
    background-color: #5D3DD2;
    opacity: 0.8;
}


