.main{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 20vw;
    height: 35vw;
    border-radius: 8px;
    background-color: purple;
    justify-content: space-evenly;
    margin-top: 10.5vw;;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}

.bttnclear{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.itemContainer{
    display: flex;
    flex-direction: column;
    height: 20vw;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;

}

.itemCard{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 90px;
    margin: 5px 0px 25px 30px;

}

.total{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}