.main{
    display: flex;
    justify-content: center;
    width: 100%
}

.items{
    display: flex;
    justify-content:space-around; 
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
}
.sidebar{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    margin-left: 2.8vw;
    margin-right: 3vw;
    margin-top: 8vw;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-shadow: 19px 15px 10px 3px rgba(0, 0, 0, 0.25); 
    background-color: #6e117f;
    padding: 1vw;
}

.containeritems{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;;
}

.containeritems h5{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.2vw;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5vw;
}

.pagination{
    display: flex;
    justify-content: center;
}

.paginate{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 600px;
}

.pagbuttons{
    background-color: #6e117f;;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.pagbuttons a{
    text-decoration: none;
}

.activebuttons{
    background-color:white;
    border-radius: 4px;
    width: 60px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6e117f;
    text-decoration: none;    
}

.activebuttons:hover{
    color: #6e117f;
}

.prevnext{
    background-color: #6e117f;;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.prevnext:hover{
    cursor: pointer;
    background-color:white;;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6e117f;;
    text-decoration: none;  
}

.shoppingcart{
    transition: 0.3s;
    background-color: #6e117f;
    color: rgba(255, 255, 255, 0.876);
    border: none;
    margin-right: 3vw;
    margin-bottom: 1.5vw;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
    width: 8vw;
    height: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.shoppingcart:hover{
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.876);
    color: #6e117f;
}

.mainmodal{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
}

.modalfooter{
    display: flex;
    justify-content: center;
}

.filters{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1vw;    
}

.searchbar{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2vw;
}

.filters select{
    text-align: center;
    height: 2.5vw;
    width: 15vw;
    border-radius: 4px;
    cursor: pointer;
    background-color: #6e117f;
    color: white;
    font-size: 18px;
    padding: 5px;
}

.typefilters{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:left;
    width:150px;
}

.typefilters h2{
    color: white;
}

.typefilters select{
    border: none;
    overflow: hidden;
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    cursor: pointer;
}

.typefilters select:focus{
    outline: none;
}

.typefilters option{
    color: white;
    margin: 1vw;
}

.categoryfilters{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:left;
    width:150px;
}

.categoryfilters h2{
    color: white;
}
.categoryfilters select{
    border: none;
    overflow: hidden;
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    cursor: pointer;
}

.categoryfilters select:focus{
    outline: none;
}

.categoryfilters option{
    color: white;
    margin: 1vw;
}

