
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    /* margin-left: 1vw; */
    margin-top: 2vw;
    /* padding-top: 2vw;; */
    /* width: 60% */
}

.container p {
    font-size: 1.5vw;
    color: white;
    margin-left: 1vw;
    margin-bottom: 3vw;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;;
    
}

.titletext{
    color:#FCEC4F;
    font-weight:900;
}

.inp{
    display: flex;
    flex-direction: column;
    min-height:7vh ;
    width: 20vw;
    /* border: 2px solid red; */
    margin-bottom: 10px;
    color: azure;
}

.groupinp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around
}

.groupinp3{
    display: flex;
    flex-direction: row;

    align-items: flex-end;
    justify-content:space-between;
    margin-left: 1.1vw;
}

.boton{
    display: flex;
    justify-content: center;
}

.textarea{

    display: flex;
    margin-top: 50px;
    flex-direction: column;
    margin-left: 1.1vw;
    margin-bottom: 2vw;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center
}
.checkerror{
    display: flex;
    justify-content: center;
}

.check button {
    background-color: transparent;
    border: none;
    color: rgba(27, 13, 73, 0.485);
    text-decoration: underline;
    font-weight: 900;
}

label{
    color: white;
    font-weight:500;    
    font-size:1.5vw;
}

.send {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 1.8vw;
    font-weight: 700;
    /* width: 22vw; */
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 2vw;
    letter-spacing: 2px;
    border-radius: 5px;    
    background-color: transparent;
    border: transparent;
}

.send:hover {
    background: white;
    color: rgb(99, 59, 218);
    border-radius: 5px;
    /* box-shadow: 0 0 5px #FCEC4F,
                0 0 25px #FCEC4F,
                0 0 50px #FCEC4F,
                0 0 100px#FCEC4F; */
    /* opacity:0.8; */
}

.error{
    color: white;
    background-color: rgba(255, 0, 0, 0.568);
    font-size: 1vw;
    font-weight: 500;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* padding: 0.4vw; */
    text-align: center;
    /* margin-top: 1vw; */

}
.success{
    color: #FCEC4F;
    font-size: 30px;
    font-weight: 700;
}

.inputsForm {
    color: white ;
    /* background: rgb(41,24,91); */
    /* background: rgb(41,24,91); */
    border: 30px;
    padding: 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0 ;
    background-color: transparent;
    background:rgba(41,24,91,0.3954175420168067);
     border: none;
     border-bottom: 0.7px solid rgb(255, 255, 255);
    /* border-bottom: 1px solid purple; */
    font-weight: bold;
    transition: 0.4s;
}

.inputsForm::placeholder{
    color: rgba(255, 255, 255, 0.63);
}
.inputsForm:hover {
    color: white;
    border-radius: 10px;
    background: rgba(41,24,91,0.779171043417367);
}
.inputsForm:focus{
    outline: none;

}

.pet{
    width: 300px;
}
.foundation{
    width: 400px;
}

