.postProductContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.4rem;
  margin-bottom: 1rem;
  width: 50rem;
  min-height: 6rem;
  justify-content: flex-start;
  align-items: flex-start;
}



.h3title{
  color: rgb(99 59 218);
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.label, .button, .description {
  font-family: 'Jost', sans-serif;
  letter-spacing: 0.1rem;
}


.label, .description {
  color: #2d2d2f;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}


.input, .textarea, .label {
  width: 20vw;
  display: block;
}

.input, .textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

.input::placeholder, .textarea::placeholder {
  color: #0107129c;
}


.input {
  color: #010712;
  font-weight: 500;
  background-color: #b7b7b744;
  position: relative;
  top: -1rem;
  border: none;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.334); */
  padding: 0.5rem 0.5rem;
  outline: none;
  resize: none;

}

.post{
  width: 30vw; 
  overflow: hidden;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 3px;
  background-color: rgb(99 59 218);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 3rem;
  margin-left: 6rem;
}
.form{
  height: 72vh;
  width: 50vw;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  padding: 1rem 5rem;
  margin-bottom: 2rem;
}
.error{
color: red;
width: 20rem;
padding-top: 0.2rem;
font-size: 0.8rem;
margin: -1rem;
margin-left: 0.3rem;
}

@media screen and (max-width: 1440px) {
 .form{
    height: 80vh;
    width: 55vw;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    padding: 1rem 5rem;
    margin-top:1rem;
  }
.label{
  margin-bottom: 1rem;
}
.div{
  width: 45vw;
  min-height: 5rem;
}
.post{
  width: 37vw; 
  margin-left: 3rem;
}
}