.postProductContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.4rem;
  margin-bottom: 1.5rem;
  width: 50rem;
  min-height: 6rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.contactContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.h3title{
  color: white;
  font-size: 2.7rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.label, .button, .description {
  font-family: 'Jost', sans-serif;
  letter-spacing: 0.1rem;
}


.label, .description {
  color: #2d2d2f;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}


.input, .textarea, .label {
  width: 20vw;
  display: block;
}

.input, .textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

.input::placeholder, .textarea::placeholder {
  color: #0107129c;
}


.input {
  color: #010712;
  font-weight: 500;
  background: #FCFDFD;
  position: relative;
  top: -1rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.334);
  padding: 0.5rem 0.5rem;
  outline: none;
  resize: none;

}

.post{
  width: 37vw; 
  overflow: hidden;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 3px;
  background-color: rgba(214, 71, 253, 0.678);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 3rem;
  margin-left: 3rem;
}
.form{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 4rem 5rem;
}
.error{
color: red;
width: 20rem;
padding-top: 0.2rem;
font-size: 0.8rem;
margin: -1rem;
margin-left: 0.3rem;
}
