.container {
    background-color: rgb(255, 255, 64);
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    background: none;
    background-color: none;
    width: 20rem;
    color: purple;
}