.DivNav {
    background-color: aliceblue;
    height: 15vh;
}

.containers {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.logos img {
    border-radius: 200px;
    width: 150px;
    height: 150px;
    transition: 0.3s;
    margin-top: 20px;
    /* border: 3px groove rgb(18, 18, 119); */
}

.logos img:hover {
    transition: 0.3s;
    transform: scale(1.05);
    cursor: pointer;
}

.logos h4 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vh;
    margin-top: 20px;
    width: 70%;
}

.info p {
    margin-left: 30px;
}

.eslogan {
    display: flex;
    margin-left: 70px;
    ;
    margin-top: 8vw;
    justify-content: center;
}

.eslogan div h1 {
    font-size: 9vw;
    color: rgb(255, 226, 8);
    letter-spacing: -0.6vw;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.eslogan div h2 {
    font-size: 5.2vw;
    color: rgb(255, 226, 8);
    margin-top: -2.5vw;
    ;
    letter-spacing: -0.2vw;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.eslogan div p {
    font-size: 2vw;
    color: azure;
    width: 35vw;
}

.banner {
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    margin-left: 10vw;
}

.yellow_paw {
    width: 7vw;
    height: 7vw;
    margin-right: 25vw;

}

.userInfo {
    /* padding: 200px; */
    padding-top: 10vw;
    padding-bottom: 1vw;
    display: flex;
    flex-direction: column;
}

.subInfoA {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    margin-bottom: 1vw;
}

.subInfoC {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    margin-bottom: 10vw;
    margin-top: 4vw;
    margin-left: 5vw;
    ;
}

.subInfoA img {
    width: 20vw;
    height: 20vw;
    margin-left: 15vw;
    margin-top: 5vw;
}

.subInfoA div {
    margin-left: 7vw;
    width: 41vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.subInfoB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 50vw; */
}

.subInfoB div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 12vw !important;
}

.subInfoB img {
    width: 3.5vw;
    height: 3.5vw;
    margin-bottom: 2vw;
    margin-left: 1.5vw;
}

.gift {
    width: 20vw !important;
    height: 20vw !important;
    margin-bottom: 1vw;
    margin-left: 10vw !important;
}

.userInfo h1 {
    font-size: 4vw !important;
    letter-spacing: -0.2vw;
    font-weight: bolder;
    font-weight: 1200;
    margin-bottom: 2vw;
    color: rgb(255, 230, 0);
}

.userInfo p {
    font-size: 1.7vw !important;
    margin-bottom: 2vw;
    color: white;
    /* text-align: center; */
    flex-wrap: wrap;
    font-weight: 500;
    /* background-color: green; */
}

.subInfoB p {
    margin-right: 8vw !important;
}

.subInfoB button {
    margin-right: 6vw !important;
}

.userInfo button {
    transition: 0.3s;
    background-color: white;
    color: rgb(99, 59, 218);
    border: none;
    font-size: 1.2vw;
    cursor: pointer;
    border-radius: 0.3vw;
    width: 10vw;
    height: 3vw;
    text-align: center;
    font-weight: bold;

}

.userInfo button:hover {
    transition: 0.3s;
    background-color: rgb(255, 226, 8)
}

.link {
    text-decoration: none;
}

.top {
    /* background: linear-gradient(180deg, rgba(99, 59, 218, 1) 0.9%, rgba(255, 255, 255, 1) 9%, rgba(221, 210, 255, 1) 48%, rgba(99, 59, 218, 1) 81%, rgba(99, 59, 218, 1) 100%); */

    /* background-color: #dacbff; */
    background-color: #f6f6f6;
    /* background-color: #fff; */

    /* box-shadow: 0px 4px 24px 0px rgb(255, 230, 0); */
    box-shadow: 0px -12px 24px 0px #3f13aa, 0px 25px 57px 0px rgba(91, 13, 94, 0.637);

    border-top: 1px solid rgba(236, 223, 223, 0.295);
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
    /* background-color: rgba(255, 242, 122, 0.76); */

}

.esloganFooter {
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    margin-top: 8vw;
    margin-bottom: 5vw;

}

.esloganFooter div h2 {
    font-size: 4.3vw;
    color: rgb(255, 230, 0);
    /* color: rgb(195, 29, 201); */
    margin-left: 25vw;
}

.esloganFooter img {
    width: 14vw;
    margin-right: 7vw;
}

.esloganFooter div p {
    font-size: 2.5vw;
    font-weight: normal;
    color: #fff;
    margin-top: 10vw;
}

.esloganFooter div span {
    font-weight: 900;
    font-style: italic;
}

.clients {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 5vw;
    margin-bottom: -100px;
}

.clients h1 {
    font-size: 3vw;
    color: rgb(255, 230, 0);
    font-weight: bold;
    margin-bottom: 4vw;
    margin-top: 4vw;
}

.clients div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.waves {
    width: 160vw;
    height: 15vw;
    margin-bottom: 10vw;
}

.catFooter {
    width: 40%;
    margin-left: 28vw;
    margin-bottom: 0.2vw;
    margin-top: 3vw;

}