.postPetsContainer {

  display: flex;
  /* justify-content: center; */

  width: 84vw;
  height: 85vh;
  padding: .5rem;
  gap: 1rem;
  /* margin: .5rem; */

}

.postPetForm {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: space-evenly;

  width: 50vw;
  height: 95%;
  padding: 2rem;
  margin: 1rem;
  /* gap: .5rem; */

  border: 1px solid #FCEC4F;
  border-radius: .8rem;
  box-shadow: 0px 5px 26px 0px #FCEC4F;

}

.titles {
  display: flex;
  justify-content: center;

  margin: -.5rem;

  letter-spacing: .3rem;
  font-weight: 600;
}

.postPetTitle {
  color: #FCEC4F;
  font-weight: 700;
}

.inputNameContainer {
  display: flex;
}

.secondContainer {
  /* background-color: rgb(0, 202, 0); */

  margin-top: 2rem;
  gap: 2rem;

  display: flex;
  justify-content: space-between;

  align-items: center;

}


.zeroCheckboxContainer {}

.edadContainer {
  /* background-color: #fff; */
  /* border-radius: 1rem; */

  margin-bottom: -.7rem;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  text-align: justify;

}

.checkboxLabels {
  font-size: 1rem;
  max-width: 90px;
}


.firstCheckboxContainer {
  background-color: rgba(0, 0, 0, 0.108);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: .3rem; */

  padding: .7rem;

  align-items: center;
  text-align: justify;
  justify-content: space-between;

  min-width: 100px;

}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

}


.secondCheckboxContainer {
  background-color: rgba(0, 0, 0, 0.108);
  border-radius: 1rem;

  padding: .7rem;


  display: flex;
  flex-direction: column;
  min-width: 100px;
  text-align: center;
  align-items: center;
}

.textarea {
  margin: 15px 0 15px 0;
}

.imageTitleContainer {

  display: flex;
  justify-content: space-around;
}

.imageContainer {
  display: flex;
  /* margin: 1rem; */
  /* background-color: green; */
}


.wrap {
  /* background-color: #fff; */
  /* margin-top: -1rem; */
  /* margin-bottom: -1rem; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.bot {
  min-width: 200px;
  min-height: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #FCEC4F;
  background: #FCEC4F;
  background: linear-gradient(90deg, #c450f6 0%, rgb(200, 119, 209) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #c450f6;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.bot::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(190px + 12px);
  min-height: calc(46px + 12px);
  border: 4px solid #FCEC4F;
  box-shadow: 0 0 60px #c450f6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.bot:hover::before, .bot:focus::before {
  opacity: 1;
}

.bot::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #FCEC4F;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: ring 1.5s infinite; */
}

.bot:hover::after, .bot:focus::after {
  animation: none;
  display: none;
}

/* ERRORS */
.errorBox {
  margin-top: 1rem;
  /* background-color: yellow; */
}


.error {
  color: red;
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  justify-content: center;
}

@media screen and (max-width: 1600px) {}