.huellita{
    width: 5rem;
    height: 5rem;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 7vw;
    margin-top: 3vw;
}
.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 6px 5px 23px 1px #1B1B19;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.4vw;
  width: 12vw;
  height: 4vw;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(117, 12, 94) 0%, rgb(168, 11, 155) 100%);  border: none;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #b90fe498;
  letter-spacing: 0.05em;
  border-radius: 0.7vw;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 2px solid black;
  opacity: 0.85;
}

.button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  opacity: 1;
}

.button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: black;
    padding-bottom: 5rem;
    width: 40vw;
    height: 40vw;
    margin-right: 5vw;
}

.info span {
    font-size: 1vw;
    font-weight: bold;
    color: white;
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
    margin-right: 5rem;
}


.price div {
    display: flex;
}

.info div {
    align-items: center;
    /* justify-content: center; */
}

.subInfo {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red */
}

.points{
         margin-top: 2vw;
        font-size: 3vw;
        color: rgb(255, 230, 0);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        text-align: center;
        margin-top: 0.8vw;;
}

.type{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 0.8rem;
    
}
.pet{
    margin-bottom: 0rem;
    font-size: 1rem;
}
.description{
    font-size: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.name{
    font-size: 3.2vw;
    width: 40vw;
    text-align: center;
    color: rgb(255, 226, 8);
    margin-bottom: 2vw;
    margin-top: 3vw;
    font-weight: bold;

}

.containerButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-image: url("../../assets/images/background-paws.jpg");
    background-color: rgb(116, 9, 126); */
    color: azure;
    margin-top: 3vw;
}

.moreLess{
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
}

.button2 {
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.5vw;
  width: 4vw;
  height: 4vw;;
  color: white;
  background: linear-gradient(0deg, rgb(117, 12, 94) 0%, rgb(168, 11, 155) 100%);  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  border-radius: 1vw;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 2px solid black;
  opacity: 0.85;
}

.button2:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
    opacity: 1;
}

.button2:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
.numero{
    font-size: 1.5vw;
    margin: 1vw;
    color: white;
}
.unidad{
    font-size: 0.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}
.contenedor{
    margin: 8vh;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    margin-left: -0.5vw;
    margin-top: -1vw;
    color: white;
}