.banner img{
    margin-top: 2.4vw;
    margin-left: 1vw;
}

.banner {
    margin-top: 5vw;
    display:flex;
    width: 100%;
    height: 33vw;
    box-shadow: rgb(0, 0, 0, 0.35) 0px 5px 10px;
}

.banner button {
    transition: 0.3s;
    background-color:#9C27B0;
    color: #f5f5f5;
    border: none;
    /* padding: 8px 24px; */
    font-size: 1.3vw;
    width: 12vw;
    height: 3.2vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    /* width: 150px; */
}

.banner button:hover {
    transition: 0.3s;
    background-color:#7c168ee6;
}

.banner div {
    display:flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    margin-right: 6vw;
}

.sectionTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 230, 0);
    font-size: 4vw;
    font-weight: bolder;
    text-align: center;
}

.banner p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 2vw;
    text-align: center;
    font-weight: bolder;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
}

.subContainer {
    padding-top: 13vw;
    padding-bottom: 13vw;
    display:flex;
    justify-content: space-around;
}


.subContainer h1 {
    font-size: 2.3vw;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 40px; */
}

.subContainer h2 {
    font-size: 2.3vw;
    color: rgb(255, 230, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 40px; */
}


.subInfoA div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vw;
    padding-top: 12vw;
}

.bigPaw {
    width: 30vw;
    height: 30vw;
}

.pictureA {
    width: 10vw;
    height: 10vw;
    margin-bottom: 1vw;
    border-radius: 50%;
    box-shadow: 5px 11px 5px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 11px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 11px 5px -3px rgba(0,0,0,0.75);
}

.pictureB {
    width: 12vw;
    height: 11vw;
    margin-bottom: 0.2vw;
    border-radius: 50%;
    box-shadow: 5px 11px 5px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 11px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 11px 5px -3px rgba(0,0,0,0.75);
}

.pictureC {
    width: 20vw;
    height: 15vw;
    padding-bottom: 2vw;
}

.title{
    font-size: 2.3vw;
    margin-top: 6vw;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 40px; */
}

.subTitles {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-top: 4vw;
padding-bottom: 12vw;
}

.subTitles div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.subTitles h3 {
    font-size: 2.3vw;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
}


.store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8vw;
}

.store div {
    display: flex;
    flex-direction: space-between;
}

.products {
    transition: 0.5s;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 7px solid #9C27B0;
    cursor: pointer;
}
.products:hover {
    transition: 0.5s;
    transform: scale(1.03);
    border: 7px solid rgb(255, 230, 0);
}

.store div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.store div div div {
    display: flex;
    flex-direction: row;
    padding-top: 2vw;
    padding-bottom: 2.4vw;
}

.container span {
    font-size: 2vw;
    color: rgb(255, 230, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}

.paw {
 width: 15%
}

.store h1 {
    font-size: 2.4vw;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 3vw;
}

.store button {
    transition: 0.3s;
    background-color:#9C27B0;
    color: #f5f5f5;
    border: none;
    border-radius: 70px;
    font-size: 1.3vw;
    cursor: pointer;
    width: 40vw;
    height: 3.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.store button:hover {
    transition: 0.3s;
    /* background-color:#7c168ee6; */   
    background-color: azure;
    color: #9C27B0;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.points {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    /* border: 2px solid red */
}
