.profileFoundation {
    /* padding: 0.5rem 2.5rem; */
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.containerGlass {
    display: grid;
    width: 95vw;
    height: 90vh;

    background: var(--glass);
    border-radius: 2rem;
    margin-right: 1rem;
    grid-template-columns: 16rem auto /* 20rem */;
    overflow: hidden;
}

@media screen and (max-width: 1440px) {
    .containerGlass {
       height: 87vh;
    }
}
