.carousel{
    width: 100%;
    margin-top: 7vw;
    margin-bottom: 3vw;
}

.imgadoption {
    /* border: 3px solid red; */
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
}

.imgadoption:hover{
    filter: brightness(85%);
    transition-duration: 1s;
    cursor: pointer;   
}
.imgadoption:not(:hover){
    transition-duration: 1s;  
}

.containertext{    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;   
    width: 52vw;
}

.containertext2{    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;   
    margin-right: 100px;
}

.foundations {
    display: flex;
    width: 35vw;
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
    flex-wrap: wrap;
}


.titles{
    font-size: 5vw;
    color: rgb(255, 230, 0);
    font-weight: bold;
    margin-bottom: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paragraph{
    font-size: 1.8vw;
    text-align: center;
    color: azure;
    margin-bottom: 4vw;
}

.container{
    background-size: cover;   
    display: flex;
    justify-content: space-evenly;  
    width: 100%;
    height: 38vw;
    padding-top: 5vw;  
    padding-bottom: 5vw;  
    /* background: linear-gradient(70deg, rgb(174, 140, 182) 0%, rgb(99, 59, 218) 97%); */
}

.link {
    text-decoration: none;
}

.foundations img {
    width: 6vw;
    height: 6vw;
    margin-left: 3vw;
    border-radius: 3vw;
    border: 0.2vw solid rgb(25, 25, 106);
}

.imgdonation{
    width: 30vw;
    height: 30vw;
    /* border: 3px solid red; */
    border-radius: 50%;
    background-color: rgb(255, 226, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgdonation img{
    width: 23vw;
    height: 23vw;
    /* border: 3px solid red; */
    /* border-radius: 35%; */

}

.containerimg{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 350px;
}


.carousel button {
    transition: 0.3s;
    background-color:white;
    color: rgb(99, 59, 218);
    border: none;
    font-size: 1.2vw;
    cursor: pointer;
    border-radius: 5px;
    width: 14vw;
    height: 3vw;
    text-align: center;
    font-weight: bold;

}

.carousel button:hover {
    transition: 0.3s;
    background-color:rgb(255, 226, 8)
}

.containerDonate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38vw;
    padding-top: 5vw;  
    padding-bottom: 5vw;  
}




