.postProductContainer{
  display: flex;
  justify-content: center;
  margin-right: 10vw;
  /* margin-top: 2rem; */
}

.inputDiv {
  margin-bottom: 1vw;
  height: 7.5vw;;

}

.contactContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.h3title{
  color: rgb(99, 59, 218);
  font-size: 2.7rem;
  display: flex;
  margin-bottom: 2rem;
  font-weight: bold;
  letter-spacing: -0.1vw;
}

.label, .button, .description {
  font-family: 'Jost', sans-serif;
  letter-spacing: 0.1rem;
}


.label, .description {
  color: rgb(99, 59, 218);
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.inputsGroups {
  display: flex;
  flex-direction: row
}


.input, .textarea, .label {
  width: 18vw;
  display: block;
}

.input, .textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

.input::placeholder, .textarea::placeholder {
  color: #0107129c;
}

.transit {
  display: flex;
  justify-content: space-evenly;
  color: rgb(99, 59, 218);
  text-transform: uppercase;
  font-size: 1.2vw;
  margin-bottom: 1vw;
  font-weight: bold;
  width: 50vw;
  margin-top: 2vw;
}
.transit label {
  color: rgb(99, 59, 218);
  text-transform: uppercase;
  font-size: 1.2vw;
  margin-bottom: 0.2rem;
  font-weight: bold;
  margin-left: 13vw;
}

.transit input {
  margin-left: 0.5vw;
}

.transitContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.labelTransit{
  color: rgb(99, 59, 218);
  text-transform: uppercase;
  font-size: 1.2vw;
  margin-bottom: 0.2rem;
  font-weight: bold;
  margin-left: 13vw;
}


.input {
  color: #010712;
  font-weight: 500;
  background-color: rgba(99, 59, 218, 0.109);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.334);
  padding: 0.5rem 0.5rem;
  outline: none;
  resize: none;
  /* margin-bottom: 3vw; */
  position: relative;
  margin-right: 3vw;
}
.pictures{
  margin-bottom: 2rem;
}
.typeCat{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: 'Jost', sans-serif;
  color: #2d2d2f;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.select{
  width: 10vw;
  display: flex;
  border: none;
  border-radius: 30px;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

.post {
  background-color: rgb(99, 59, 218) !important;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  margin-left: 22vw;
  margin-top: 1vw;
}

.post {
  background-color: #7B1FA2;
  box-shadow:
      -7px -7px 20px 0px #fff9,
      -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002,
      4px 4px 5px 0px #0001;
}


.form{
  margin-bottom: 2rem;
  padding: 1rem 5rem;
}

.error{
color: red;
font-size: 0.8rem;
/* margin-left: 32rem; */
/* position: relative; */
/* top: -2rem; */
margin-top: 0.5vw;
}
.transit{
  display: flex;
  justify-content: space-evenly;
  
}
.mail{
  display: flex;
  font-size: 1.2rem;
  color: black;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  max-width: 30rem;

}

