.postProductContainer{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.contactContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.h3title{
  color: white;
  font-size: 2.7rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.label, .button, .description {
  font-family: 'Jost', sans-serif;
  letter-spacing: 0.1rem;
}


.label, .description {
  color: azure;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}


.input, .textarea, .label {
  width: 30vw;
  display: block;
}

.input, .textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

.input::placeholder, .textarea::placeholder {
  color: #0107129c;
}


.input {
  color: #010712;
  font-weight: 500;
  background: #FCFDFD;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.334);
  padding: 0.5rem 0.5rem;
  outline: none;
  resize: none;
  margin-bottom: 6px;
  position: relative;
  margin-right: 10rem;
}
.pictures{
  margin-bottom: 2rem;
}
.typeCat{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: 'Jost', sans-serif;
  color: #2d2d2f;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.select{
  width: 10vw;
  display: flex;
  border: none;
  border-radius: 30px;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}
.post{
  width: 30vw; 
  overflow: hidden;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 3px;
  background-color: rgba(149, 19, 185, 0.678);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 3rem;
}
.post:hover{
  background-color: azure;
  color: rgba(149, 19, 185, 0.678);

}
.form{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  padding: 1rem 5rem;
}
.error{
color: red;
font-size: 0.8rem;
margin-left: 32rem;
position: relative;
top: -2rem;
margin-bottom: -1.2rem;
}
.transit{
  display: flex;
  justify-content: space-evenly;
  
}
.mail{
  display: flex;
  font-size: 1.2rem;
  color: black;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  max-width: 30rem;

}

