.loading {
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 10rem;

}



.myData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.photo {
  width: 100px;
  height: 100px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paw {
  width: 40px;
  height: 40px;
}

.favs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2vw;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 20%;
  margin-bottom: 5vw;
  font-size: 3vw;
  font-weight: bold;
  color: azure;
}

.favsTitle {
  font-size: 4vw;
  margin-left: 45vw;
  ;
  margin-top: -4vw;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: azure;
  margin-bottom: 30px;
}