.pageContainer {
  margin-left: 15%;
}

.requestTableTitle {
  width: 100%;
  margin: 1rem 2rem;
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: 500;
  color: #F1F15B;
}

.loading {
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 10rem;

}


.myData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.photo {
  width: 100px;
  height: 100px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.paw {
  width: 2vw;
  height: 2vw;
}


/* .favs { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2vw;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 20%;
  margin-bottom: 5vw;
  font-size: 3vw;
  font-weight: bold;
  color: azure;
} */

.favsTitle {
  font-size: 4vw;
  margin-left: 45vw;
  ;
  margin-top: -4vw;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: azure;
  margin-bottom: 30px;
}

.empty img {
  width: 45vw;
  height: 30vw;
  /* border: 3px solid red; */
  display: flex;
  margin-right: -2vw;
  /* margin-left: 45vw;; */
  margin-top: 17vw;
}

.empty {
  margin-left: 20vw;
  display: flex;
  flex-direction: row;
}

.empty h3 {
  color: white;
  font-size: 2.6vw;
}

.empty div {
  /* border: 3px solid red; */
  width: 80%;
  margin-top: 8vw;
  ;
}


.empty button {
  transition: 0.3s;
  background-color: white;
  color: rgb(99, 59, 218);
  border: none;
  font-size: 1.4vw;
  cursor: pointer;
  border-radius: 2vw;
  width: 15vw;
  height: 3vw;
  text-align: center;
  font-weight: bold;
  margin-left: 6vw;
  margin-top: 1vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.empty button:hover {
  transition: 0.3s;
  background-color: rgb(255, 226, 8)
}