.titles {
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    margin-bottom: 30px;
}

.noDonations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  margin-bottom: 5vw;;
  width: 60vw;
}

.noDonations h1 {
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    margin-bottom: 5vw;
    /* width: 50vw; */
}

.noDonations img {
    width: 40vw;
    height: 25vw;
}

.noDonations button {
    transition: 0.3s;
    background-color: #FCFCFD;
    border-radius: 15px;
    font-size: 1.5vw;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: purple;
    font-weight: bold;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 3vw;
    width: 25vw;
}

.noDonations button:hover {
    transition: 0.3s;
    color: #FCFCFD;
    background-color: purple
}

.MuiTableRow-root>* {
    padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head>* {
    font-weight: 900 !important;
}

.Table td, th {
    border: none !important;
}

.Table:first-child {
    border-radius: 0.7rem !important;
}

.status {
    padding: 8px;
    border-radius: 9px;
}

.ciudad {
    color: #00b5ff !important;
}

@media screen and (max-width: 1200px) {
    .Table {
        width: 170%;
        margin-top: 2rem;
    }
}


@media screen and (max-width: 768px) {
    .Table {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23rem;
    }
}