.nav {
    /* background-image: linear-gradient( 89.2deg,  rgba(191,241,236,1) 22.3%, rgba(109,192,236,1) 84.1% ); */
    display: flex;
    /* position: fixed; */
    z-index: 100;
    justify-content: space-around;
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
    height: 8vh;
    width: 100vw;
    /* background-color: antiquewhite; */
}

.logo {
    width: 60px;
    margin-bottom: 15px;
}

.icons {
    width: 40px;
    margin-left: 20px;
}

.navCenter {
    display:flex;
    align-items: center;
    margin-left: 90px;
}

.navCenter p {
    transition: 0.3s;
    margin-right: 17px;
    margin-left: 15px;
  /* color: rgb(255, 230, 0) !important; */
  color: azure;
}

.navCenter p:hover {
    transition: 0.3s;
    text-decoration: underline;
    transform: scale(1.05);
    /* color: rgb(29, 53, 87); */
    cursor: pointer;
}

.link {
    color: black;
    text-decoration: none;
}


.signUp button {
    font-size: 13px;
    transition: 1s;
    color: rgb(29, 53, 87);
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-bottom: 15px;
}

.signUp button:hover {
    transition: 1s;
    color: rgb(29, 101, 201);
    text-decoration: overline underline;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.profile button {
    transition: 1s;
    color: rgb(29, 53, 87);
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.profile button:hover {
    transition: 1s;
    color: rgb(29, 101, 201);
    text-decoration: overline underline;
}


