.nav {
    display: flex;
    /* position: fixed; */
    /* z-index: 100; */
    justify-content: space-between;
    align-items: center;

    /* font-family: 'Roboto', sans-serif; */
    height: 8.5vh;
    width: 100vw;
}

.logo {
    width: 60px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.icons {
    width: 40px;
    margin-left: 20px;
}

.navCenter {
    display:flex;
    align-items: center;
}

.navCenter p {
    transition: 0.3s;
    margin-right: 17px;
    margin-left: 15px;
    color: azure;
}

.navCenter p:hover {
    transition: 0.3s;
    text-decoration: underline;
    transform: scale(1.05);
    color: rgb(255, 230, 0);
    cursor: pointer;
}

.link {
    color: black;
    text-decoration: none;
}


.signUp button {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.876);
    color: #9C27B0;
    border: none;
    margin-right: 30px;
    margin-bottom: 17px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    width: 100px;
    height: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signUp button:hover {
    transition: 0.3s;
    background-color:#a20ebc;
    color: #f5f5f5;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.paw {
    width: 50px;
}

.profile span {
    font-size: 1.2rem;
    color: rgb(255, 230, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
 
}


