.banner {
    display: flex;
    border-bottom: 1px solid #f5f5f55d;
    padding-top: 10vw;
    padding-bottom: 9vw;
}

.banner div {
    margin-left: 2.5vw
}

.banner h1 {
    font-size: 4.8vw;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: -0.3vw;
    color: rgb(255, 230, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.banner p {
    font-size: 1.8vw;
    color: azure;
    margin-right: 90px;
}

.banner img {
    width: 35vw;
    height: 30vw;
    margin-right: 2.5vw;
    margin-bottom: 3vw;
}


.containerA {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vw;
    padding-bottom: 6vw;
}

.containerA h3 {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 4vw;
    color: rgb(255, 230, 0);
}


.containerA button {
    transition: 0.3s;
    background-color:white;
    color: rgb(99, 59, 218);
    border: none;
    padding: 10px 24px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
}

.containerA button:hover {
    transition: 0.3s;
    transform: scale(1.05);
    background-color: rgb(255, 230, 0);
}

.containerA img {
    width: 25vw;
    height: 25vw;
    margin-left: 10vw;
    margin-right: 4vw;
    margin-bottom: 7vw;
}

.subcontainerA {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 24vw;
    margin: 0 0 30px 30px;
}

.subcontainerA p {  
    font-size: 1.7vw;
    margin-bottom: 4vw;
    color: azure
}

.subcontainerB {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 24vw;
    margin: 0 0 30px 30px;
}

.subcontainerB p {
    margin-top: 2.3vw;
    margin-bottom: 6.4vw;
    font-size: 1.5vw;
    color: azure
}

.contDonar{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;


}

.donate {

    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4vw;
}
.title {
    font-size: 3.7vw;
    letter-spacing: -0.3vw;
    font-weight: bold;
    margin-bottom: 2vw;
    color: azure;
    display: flex;
    justify-content: flex-start;
    margin-left: 4vw
}

.foundations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.foundation  {
    display: flex;
   justify-content: center;
   align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 200px;
    margin-top: 1vw;
    margin-bottom: 1vw;
}


.renders {
 display: flex;
 width: 60vw;
 flex-direction: row;
 height: 120vh;
 justify-content: space-evenly;
 margin-right: -1rem;
 margin-left: 3rem;
 flex-wrap: wrap;
 color: azure;
 border-left: 3px solid white;
}

.renders h4 {
    font-weight: bold;
    font-size: 1.7vw;
    margin-bottom: 1vw;
}

.paypal {
    width: 15vw;
    margin-top:1vw;
}

.amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
    font-size: 3vw;
    color: #f5f5f5
}

    .renderFoundation {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 17vw;
        flex-direction: column;
        font-size: 1.3vw;
        font-weight: bold;
        color: rgb(255, 230, 0);
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw !important;
    height: 25vw !important;
    border-radius: 1rem 0 0 0;
    margin-left: -16vw;
    margin-top: -0.5vw;
    border-radius: 1rem 1rem 1rem 1rem;
}
.contAporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -7vw;;
    height: 28rem;
    border-radius: 3rem;
    margin-left: 25rem;
   
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
.aporte{
    display: flex;
    justify-content: center;
    border-radius: 1rem 0 0 0;
    padding: 2rem;
    letter-spacing: -0.2vw;
    font-weight: bold;
    align-items: center;
    width: 60rem;
    height: 5rem;
    background-color: white;
    background-color: transparent;
    /* background-color: rgb(255, 230, 0); */
    color: rgb(79, 50, 165);
    color: white;
    font-size: 3.5vw;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 1440px) {
    .renders {
        width: 60rem;
    }
    .contAporte {
        margin-left: 14rem;
    }
    .img {
        width: 52rem;
        height: 24rem;
    }
    .aporte {
        width: 52rem;
    }
}