.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.container h1 {
    font-size: 80px;
}

.container img {
    width: 400px;
    height: 400px;
    margin-top: 50px;
}
