
.label {
    font-weight: bold;
    color: azure;
    /* margin-left: 5.5vw; */
    display:flex;
    justify-content: center;
}

.buttonStepper {
    margin-left: 110px;
    margin-top: 50px;
}

.foundations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    margin-top: 40px;
}

.foundations div {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
}

.foundations button {
    transition: 1s;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-bottom: 20px;
    border-radius: 200px;
    width: 7vw;
    height: 7vw;
    /* margin-right: 20px; */
}

.foundations h5 {
    font-size: 1.1vw;
    text-align: center;
    margin-top: 0.3vw;
    margin-left: 0.4vw;
    font-weight: bold;
    color: azure;
}

.foundation  {
    width: 100px;
    height: 100px;
    border: 2px groove purple;
    border-radius: 200px;
}

/* .foundation:focus {
    border: 2px groove rgb(255, 230, 0);
} */

.foundation:hover {
    border: 4px solid rgb(255, 230, 0);
}

.paypal {
    width: 150px;
    margin: 40px
}

.payment button:focus {
    border: 4px groove rgb(255, 230, 0);
}

.payment {
   display: flex;
}

.payment button {
    font-size: 1.2rem;
    /* transition: 1s; */
    color: rgb(29, 53, 87);
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 300px;
    height: 150px;
    margin-top: 50px;
}

.mp {
    width: 250px;
}

.donate div {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.donate button {
    transition: 0.3s;
    background-color: white;
    color: rgb(99, 59, 218);
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 1.3vw;
    margin: 1vw 0.5vw;
    cursor: pointer;
    border-radius: 0.3vw;
    width: 6vw;
    font-weight: bold;
}

.donate button:hover {
    transition: 0.3s;
    background-color: rgb(255, 230, 0);
}

.donate span {
    font-size: 1rem;
    font-weight: bold;
    color: azure;
}

.amount {
    width: 35vw;
}

.amount label {
    color: azure;
    font-size: 1.3vw;
    width: 10vw;
}

.amount input {
    background-color: transparent;
    color: azure;
    border: 1px solid rgba(240, 255, 255, 0.377);
    border-radius: 5px;
    width: 7vw;
    height: 2vw;
}

.link {
    text-decoration: none;
    color:#f5f5f5;
}

.link:hover {
    text-decoration: none;
    color:#f5f5f5;
}

.buttonStep:hover {
    background-color: rgb(255, 230, 0) !important;
}